html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}
body{
    margin: 0;
    padding: 0;
}
h1{
    font-size: 2rem;
    font-weight: 600;
    background-color: #120537;
    color: white;
    margin: 0;
    margin-bottom: 40px;
    padding: 2rem 0;
    text-align: center;
}
.wrapper{
    display: flex;
    flex-flow: row nowrap;
    margin: 0 2rem;
}
section{
    background-color: green;
    margin-right: 1.5rem;
}
section h2{
    color: aqua;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 500;
}
section p{
    color: gold;
    font-size: 1.1rem;
    font-weight: 300;
    padding: 0 10px;
    line-height: 1.7;
}

aside{
    background-color: red;
    margin-left: 1.5rem;
}
aside h2{
    color: white;
    font-size: 1.3rem;
    text-align: center;
    font-weight: 400;
}
aside p{
    font-size: 1.1rem;
    color: black;
    font-weight: 300;
    font-style: italic;
    padding: 0 10px;
    text-align: center;
    line-height: 1.6;
}

.container{
    background-color: black;
    width: 500px;
    height: 250px;
    margin-top: 1rem;
    border-radius: 5px;
}

/*Tablet view*/
@media (max-width:760px){
    h1{
        font-size: 1.5rem;
        width: 100%;
    }
    .wrapper{
        flex-flow: column wrap;
    }
    section{
        justify-content: center;
        margin-right: 0;
        margin-bottom: 20px;
    }  
    section p{
        line-height: 1.2;
        font-weight: 200;
    }
    aside{
        justify-content: center;
        margin-left: 0;
    }
    aside p{
        line-height: 1.2;
        font-weight: 200;
    }
}

/*Mobile view*/
@media (max-width:460px){
    body{
        width: 100%;
    }
    h1{
        font-size: 1.3rem;
        width: 100%;
    }
    .wrapper{
        flex-flow: column wrap;
    }
    section{
        justify-content: center;
        margin-right: 0;
        margin-bottom: 20px;
    }  
    section h2{
        font-size: 1rem;
    }
    section p{
        line-height: 1.2;
        font-weight: 200;
    }
    aside{
        justify-content: center;
        margin-left: 0;
    }
    aside h2{
        font-size: 1rem;
    }
    aside p{
        line-height: 1.2;
        font-weight: 200;
    }
    .container{
        justify-content: center;
        width: 90%;
    }
}